doctype html
html(class="no-js", lang="ru")

    include _mixin
    include ../components/head/head
    include ../components/header/header
    include ../components/footer/footer
    include ../components/modal/modal

    head
        //- start  block head
        link(href="%=static=%css/separate-css/slick.css", rel="stylesheet", type="text/css")
        block head
        - if(headData)
            +head(headData)
        - else
            +head(head.defaults)
        //- end  block head
    body.page
        |%=symbols=%

        section.page__wrapper
            +header(index)
            -if(!breadcrumb)
                .container
                    br.hidden-xs-down
                    ul.breadcrumb.not-styleLink
                        li: a(href="#"): span Главная
                        li: span О бутике

            //- Include your components here
            //- start block content
            block content
            //- end block content


            .page__buffer
        .page__footer

            - if(!subscription)
                .subscription
                    .container
                        .subscription__table
                            .subscription__table-cell.subscription__table-cell_title
                                span.subscription__title Следите за новостями:
                            .subscription__table-cell
                                .subscription__form
                                    input.subscription__form-input(placeholder="Введите вашу эл. почту")
                                    button.subscription__form-button Подписаться на рассылку
            - if(!textFooter)
                br
                br
                .container.color-black
                    .row
                        .col-lg-10
                            p Хотите насладиться миром лучших дизайнеров женской итальянской одежды? Тогда Вам нужно посетить бутик модной одежды из Италии в Челябинске «Mia boutique». Только в нашем интернет-магазине Вы сможете выгодно купить женскую итальянскую одежду по привлекательной цене. Наша компания работает только с производителем: TWIN-SET, LIVIANA CONTI, MARIELLA ROSATI и PIANURA STUDIO. Все эти представленные в магазине марки – это незабываемый мир красоты, успеха и качества. Вы узнаете, что такое вкус, индивидуальность и неповторимый образ.
                            p Сегодня уже все знают итальянский бутик в Челябинске. Только в нем находятся коллекции с наилучшим соотношением качества и цены, есть постоянные скидки, закрытые распродажи и лучшая программа лояльности.
                            p Интернет-магазин «Mia boutique» – это самый модный и востребованный магазин, где Вас приятно удивит простая навигация, подробные описания, превосходные фотографии, стиль, качество, быстрая доставка по России, и профессиональный уровень обслуживания клиентов. Мы развиваемся и живем вместе с Вами.
                br

            +footer()

        +modal()

        a(href='#').linkTop.not-styleLink

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script(src="%=static=%js/separate-js/slick.min.js" type="text/javascript")
        script svg4everybody();

        script(src="%=static=%js/separate-js/bootstrap-select.min.js" type="text/javascript")
        script(src="%=static=%js/separate-js/dropdown.js" type="text/javascript")
        script(src="%=static=%js/separate-js/modal.js" type="text/javascript")
        script(src="%=static=%js/separate-js/tooltip.js", type="text/javascript")
        script(src="%=static=%js/separate-js/popover.js", type="text/javascript")
        //- start block script
        block script
        //- end block script
        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')

