.header{
  border-bottom: 8px solid #e6e6e6;
  //padding-top: 25px;
  background-color: #fff;
  position: relative;
  z-index: 9;
  &_index{
    border-bottom: none;
  }
  &__logo{
    line-height: 136px;
    display: block;
  }
  &__list{
    ul{
      @include nl;
    }
  }
  &__table{
    display: table;
    width: 100%;
    &-cell{
      display: table-cell;
      vertical-align: bottom;
      &_btn{
        width: 69px;
      }
    }
  }
  &__cart{
    position: absolute;
    top: 100%;
    border-top: 5px solid $mainColor;
    width: 393px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    right: -40px;
    color: #737373;
    font-size: 14px;
    text-align: left;
    padding: 0 16px;
    padding-bottom: 24px;
    line-height: 20px;

    @include tr;
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;

    &:after{
      content: '';
      @include triangle('up', $mainColor);
      position: absolute;
      bottom: 100%;
      right: 52px;
      margin-bottom: 2px;
    }
    &-list{
      display: table;
      width: 100%;
      border-bottom: 1px dotted #e6e6e6;
      &-row{
        display: table-row;
      }
      &-cell{
        display: table-cell;
        vertical-align: middle;
        padding: 19px 0;
      }
      &-img{
        width: 51px;
      }
      &-clear{
        @include btn-clear;
        fill: #b9b9b9;
        display: block;
        width: 100%;
        &:hover{
          fill: $mainColor;
        }
      }
    }
    &-priceItogo{
      color: #959595;
      font-size: 12px;
      font-weight: 400;
      line-height: 26px;
      &-price{
        color: #161616;
        font-size: 16px;
        font-weight: 700;
      }
    }
    &-table{
      display: table;
      width: 100%;
      margin-top: 19px;
      &-cell{
        display: table-cell;
        vertical-align: middle;
      }
    }
    &-btn{
      font-size: 12px;
      padding: 10px;
      border-radius: 3px;
    }
  }
  &__btnList{
    font-size: 0;
    &-btn{
      @include btn-clear;
      display: inline-block;
      position: relative;
      //background-color: #eee;
      fill: #363636;
      @include tr;
      &-icon{
        display: block;
        width: 40px;
        height: 35px;
        text-align: center;
        line-height: 38px;
      }
      svg{
        display: inline-block;
        vertical-align: middle;
        margin-top: -4px;
      }
      .header__btnList-btn-icon{
        &:hover{
          fill: #e5493a;
          background-color: #f7f7f7;
        }
      }
      &:hover{
        .header__cart{
          opacity: 1;
          margin-top: 0;
          visibility: visible;
        }
      }
      &-count{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -9px;
        margin-left: 10px;
        width: 17px;
        height: 17px;
        background-color: #e5493a;
        border-radius: 50%;
        color: white;
        font-size: 11px;
        font-weight: 900;
        padding-left: 1px;
        line-height: 16px;
        text-align: center;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}


.mobile-list-anim{
  display: inline-block;
  //float: left;
  position: relative;
  background-color: #e5493a;
  color: #fff;
  .menuTopMobel{
    color: currentColor;
    display: block;
    border-bottom: none;
    border-top: none;
    outline: none;
    margin-bottom: 0;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    //font-size: 0;
    line-height: inherit;
    text-align: center;
    vertical-align: top;
    padding: 0;
    .menu-icon{
      fill: currentColor;
      display: inline-block;
      pointer-events: none;
      svg{
        display: block;
      }
    }
    .menu-mobile{
      pointer-events: none;
      background: transparent;
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 12px;
      color: currentColor;
      text-align: center;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      transition: transform ease-out 200ms;
      &-hamburger{
        width: 16px;
        height: 2px;
        background: currentColor;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -8px;
        margin-top: -1px;
        transition: transform 200ms;
        &.one{
          -webkit-transform: translate3d(0, -5px, 0);
          transform: translate3d(0, -5px, 0);
        }
        &.two{
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
        &.three{
          -webkit-transform: translate3d(0, 5px, 0);
          transform: translate3d(0, 5px, 0);
        }
      }
    }
  }
  input[type="checkbox"]{
    display: none;
    &:checked {
      & ~ .menuTopMobel {
        .menu-mobile {
          &-hamburger {
            &.one {
              -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
              transform: translate3d(0, 0, 0) rotate(45deg);
            }
            &.two {
              -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
              transform: translate3d(0, 0, 0) scale(0.1, 1);
            }
            &.three {
              -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
              transform: translate3d(0, 0, 0) rotate(-45deg);
            }
          }
        }
      }
    }
  }
}






