html{
  overflow-x: hidden;
}
body, html{
  min-width: 320px;
}




@include my-media-query(max, 1570px) {
  .footer {
    &__lenta {
      &-bant {
        &:after {
          right: 0;
          left: auto;
          margin-left: 0px;
        }
      }
    }
  }

}
@include my-media-query(min, 1510px) {
  .header {
      .header__position{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &_left{
          left: 47px;
        }
        &_right{
          right: 180px;
        }
      }
  }
}

@include my-media-query(max, 1460px) {
  .index__blockVideo{
    height: 750px;
    &-title{
      font-size: 80px;
      line-height: 84px;
    }
  }
  .index-brands{
    &__item{
      height: 750px;
      &_text{
        .index-brands__content{
          height: 345px;
        }
      }
    }
    &__content{
      &-bottom{
        padding-left: 40px;
        padding-bottom: 45px;
        &-title {
          font-size: 17px;
          margin-bottom: 25px;
        }
      }
      &-content{
        padding-left: 40px;
      }
      &-title {
        font-size: 40px;
        padding-bottom: 4px;
      }
      &-btnList {
        &-btn {
          > span {
            padding: 4px 17px;
          }
        }
      }
    }
  }
}
@include my-media-query(min, 1737px) {
  .header {
      .header__logo{
        line-height: normal;
      }
      .header__table{
        display: block;
        &-cell{
          display: block;
          //text-align: left;
        }
      }
  }
}
@include my-media-query(max, 1788px) {
  .header {
      .header__position {
        &_left {
          left: 20px;
        }
      }
  }
}
@include my-media-query(max, 1736px) {
  .header .header__position_right {
    right: 40px;
  }
  .header {
      .header__position {
        &_left {
          transform: none;
          position: static;
        }
      }
  }
}
@include my-media-query(max, 1232px) {
  .cart {
    &__item {
      &-clear {
        position: static;
        margin: 0;
      }
    }
  }
}
@include my-media-query(max, 1360px) {
  .clothing {
    &__item {
      height: 300px;
      font-size: 19px;
      padding-bottom: 40px;
      &-img{
        img{
          max-height: 230px;
        }
      }
      &-title{
        bottom: 16px;
      }
    }
  }
}
@include my-media-query(max, 1312px) {
  .listItemSlider{
    .slick-arrow{
      background-color: rgba(230, 230, 230, 0.5);
      &.slick-prev{
        right: auto;
        left: 0;
        margin-right: 0;
      }
      &.slick-next{
        left: auto;
        right: 0;
        margin-left: 0;
      }
    }
  }
}

@include my-media-query(max, 1500px) {
  .stock__item {
    height: 335px;
    &.row-2{
      height: 670px;
    }
  }
  .stock__item-label {
    font-size: 25px;
    line-height: 32px;
    padding: 14px 21px;
  }
  .stock__item-label-red{
    font-size: 27px;
    margin-bottom: 24px;
  }
  .stock__item-content {
    padding-left: 40px;
    padding-right: 20px;
  }
  .stock__item-content-title {
    font-size: 40px;
  }
  .stock__item-content-text {
    font-size: 21px;
    line-height: 31px;
  }
  .stock__item-title{
    font-size: 33px;
  }
}


@include my-media-query(max, map_get($grid-breakpoints, xl) - 1) {
  .index-brands{
    &__desc {
      padding-left: 40px;
    }
    &__item {
      font-size: 15px;
      line-height: 28px;
    }
  }
  .lk__left {
    width: 17.6%;
  }
  .lk__rigth{
    width: 82.4%;
  }
  .catalog__filter-block-section_range{
    width: 270px;
  }
  .object {
    &-item {
      height: 290.5px;
    }
  }
  .footer__content-cell + * {
    padding-left: 15px;
  }
  .header{
    &__logo{
      line-height: 115px;
      img{
        width: 175px;
      }
    }
  }
}

@include my-media-query(max, map_get($grid-breakpoints, lg) - 1) {
  .index__blockVideo{
    height: 749px;
    padding-top: 168px;
    &-title{
      font-size: 65px;
      line-height: 67px;
    }
  }

  .stock {
    &__item {
      height: 435px;
      &-title {
        font-size: 40px;
      }
      &-label {
        font-size: 20px;
        line-height: 28px;
        width: 270px;
        max-width: 100%;
      }
      &-label-red {
        font-size: 25px;
        margin-bottom: 20px;
      }
      &-content {
        padding-bottom: 53px;
        padding-top: 47px;
      }
      &-imgList{
        margin-top: 35px;
        margin-bottom: 35px;
        &-section{
          +*{
            padding-left: 40px;
          }
        }
      }
      &-content{
        &-title{

        }
        &-text{
          font-size: 18px;
          line-height: 25px;
          width: 165px;
        }
      }
    }
    .row-2 {
      height: 435px;
    }
    .col-1,
    .grid-sizer{
      width: 50%;
    }
    .col-2{
      width: 50%;
    }
  }

  .index-brands {
    &__item {
      width: 50%;
    }
  }
  .clothing {
    &__section {
      width: 50%;
      &:nth-last-of-type(1), &:nth-last-of-type(2){
        .clothing__item {
          border-bottom: none;
        }
      }
    }
    &__item{
      height: 530px;
      &-img{
        img{
          max-height: none;
        }
      }
    }
  }
  .catalog-toggle-content{
    display: none;
  }

  .itemList{
    margin: -8px;
    &__section{
      padding: 8px;
    }
  }
  .brand {
    &__item {
      margin: 0 -15px;
      &-desc {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }

  .detail-card {
    &__slider {
      margin-right: 0;
    }
    &__desc{
      padding-left: 0;
    }
    &__slider-preview{
      display: none;
    }
  }
  .cart {
    display: block;
    &__item {
      display: block;
      margin: -5px 0;
      border-bottom: 1px dashed #e6e6e6;
      padding: 19px 0;
      &_head {
        display: none;
      }
      >*{
        display: inline-block;
        padding: 5px 10px !important;
        border-bottom: none !important;
      }
      &-img{
        //width: auto !important;
      }
      &-title{
        width: auto;
      }
    }
  }

  .lk {
    display: block;
    > * {
      display: block;
      width: auto;
      padding-left: 0;
    }
    &__padding {
      padding-top: 0;
    }
    &__left{
      float: none;
      &-content{
        border-right: none;
      }
    }
  }
  #yamap{
    height: 600px;
  }
  .contact {
    display: block;
    > * {
      display: block;
    }
    &-left {
      width: auto;
    }
    &-right {
      height: 350px;
    }
  }

  .brend{
    margin: -10px;
    &__section{
      padding: 10px;
    }
    &__item{
      height: 150px;
      line-height: 150px;
    }
  }

  .subscription {
    text-align: center;
    &__form-input{
      text-align: center;
    }
    &__table {
      display: block;
      &-cell {
        display: block;
        +*{
          margin-top: 10px;
        }
        &_title {
          width: auto;
        }
      }
    }
  }

  .object{
    &-item{
      height: 200px;
      &__content{
        opacity: 1;
      }
      &__desc{
        margin-top: 0;
        padding: 0 35px;
      }
    }
    .col-1,
    .col-2,
    .grid-sizer,
    .col-3{
      width: 49.07%;
    }
    .row-2 {
      height: 200px;
    }
  }
  h1, .h1{
    margin-bottom: 25px;
    font-size: 50px;
  }

  .footer{
    &__content{
      &-cell{
        vertical-align: middle;
        +*{
          padding-left: 0;
        }
      }
    }
    .copyright{
      margin-bottom: 0;
      &-logo{
        margin-top: -8px;
      }
    }
  }
}

@include my-media-query(min, map_get($grid-breakpoints, xs)) {

}

@include my-media-query(min, map_get($grid-breakpoints, sm)) {
  @include my-media-query(max, map_get($grid-breakpoints, lg) - 1) {
    .header__logo img{
      margin-right: -67px;
    }
  }
}

@include my-media-query(min, map_get($grid-breakpoints, md)) {

  .item {
    &__stickers {
      &-item {
        &_big {
          width: 60px;
          height: 60px;
          font-size: 26px;
          line-height: 65px;
        }
      }
    }
  }

  .header {
    &__list{
      height: auto !important;
    }
    &__subMenu{
      position: absolute;
      //display: none;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: white;
      box-shadow: 0 55px 51px rgba(0, 0, 0, 0.5);
      border-top: 2px solid #e5493a;

      margin-top: 20px;
      visibility: hidden;
      opacity: 0;
      @include tr;

      &-menuList{
        font-size: 0;
        margin: 0 -30px;
        &-section{
          display: inline-block;
          vertical-align: top;
          padding: 0 30px;
        }
        ul{
          margin: 0 -11px;
          li{
            padding: 4px 0;
            display: block;
            a{
              font-size: 16px;
              font-weight: 300;
              color: #484848;
              display: block;
              span{
                padding: 3.5px 11px;
                display: inline-block;
              }
              &:hover{
                span{
                  background-color: #4b4b4b;
                  color: #fff;
                }
              }
            }
          }
        }
      }
      &-table{
        display: table;
        width: 100%;
        &-cell{
          display: table-cell;
          vertical-align: middle;
          &_img{
            width: 48.7%;
            text-align: right;
            img{
              max-height: 380px;
              display: inline-block;
            }
          }
        }
      }
    }
    &__list {
      display: inline-block !important;
      vertical-align: middle;
      ul {
        @include nl;
      }
      > ul {
        display: table;
        margin: 0 -16px;
        > li {
          display: table-cell;
          position: static;
          vertical-align: middle;
          &.parent {
            //margin-right: -1px;
            > a {
              margin-right: -10px;
            }
            &:hover {
              .header__subMenu {
                margin-top: 0;
                opacity: 1;
                visibility: visible;
              }
            }
          }
          &:hover {
            > a {
              > span {
                background-color: #e5493a;
                color: #fff;
              }
            }
          }
          > a {
            color: #484848;
            font-family: "AA Bebas Neue", sans-serif;
            font-size: 20px;
            font-weight: 400;
            padding: 0 3px;
            letter-spacing: 0.2px;
            display: block;
            padding-bottom: 40px;
            > span {
              display: inline-block;
              padding: 0 13px;
              line-height: 38px;
              padding-top: 5px;
              > em {
                display: inline-block;
                vertical-align: middle;
                @include triangle('down', currentColor, 8px, 5px);
                margin-right: -3px;
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
  }
  @include my-media-query(min, 1510px) {
    .header {
      .header__list {
        > ul {
          > li {
            > a {
              line-height: 136px;
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
  @include my-media-query(min, 1737px) {
    .header {
      .header__list{
        display: block;
        >ul{
          margin: 0 -23px;
          >li{
            >a{
              padding: 0 10px;
            }
          }
        }
      }
    }
  }
  @include my-media-query(max, map_get($grid-breakpoints, xl) - 1) {
    .header {
      &__list {
        > ul {
          > li {
            > a {
              padding-bottom: 29px;
            }
          }
        }
      }
    }
  }
  @include my-media-query(max, 991px) {
    .header__table{
      display: block;
      &-cell{
        display: block;
        text-align: center;
      }
    }
    .header__logo{
      text-align: center;
      line-height: normal;
      padding-top: 22px;
      padding-bottom: 20px;
    }
    .header{
      .container{
        width: 100%;
      }
    }
    .header__list > ul > li > a {
      padding-bottom: 10px;
    }
    .header__btnList{
      position: absolute;
      right: 10px !important;
      top: 28px;
    }
    .header__subMenu-menuList{
      margin: 0 -15px;
      &-section {
        padding: 0 15px;
      }
      ul {
        li {
          a{
            font-size: 14px;
            span{
              padding: 1px 9px;
            }
          }
        }
      }
    }
  }
  @include my-media-query(max, 1170px) {
    .header{
      &__list{
        >ul {
          margin: 0 -14px;
          > li {
            &.parent > a {
              margin-right: -6px;
            }
            > a {
              font-size: 18px;
              >span{
                padding-left: 11px;
                padding-right: 11px;
                line-height: 29px;
                padding-top: 4px;
                >em{
                  margin-right: -4px;
                  margin-left: 2px;
                  @include triangle('down', currentColor, 6px, 4px);
                }
              }
            }
          }
        }
      }
    }
  }
}

@include my-media-query(min, map_get($grid-breakpoints, lg)){
  .brand {
    &__item {
      &:hover {
        .brand__item-img {
          img {
            transform: scale(1.08);
          }
        }
      }
    }
  }
  .footer__content-cell_copyright{
    width: 343px;
  }
  .clothing {
    &__section {
      width: 33.33%;
      &:nth-last-of-type(1), &:nth-last-of-type(2){
        .clothing__item {
          border-bottom: none;
        }
      }
      &:hover{
        .clothing__item{
          border-color: transparent;
          outline: 5px solid #ecd6af;
          box-shadow: 0 30px 30px rgba(204, 190, 163, 0.3);
          transform: scale(1.06);
          z-index: 2;
          &-img{
            transform: scale(1.08);
          }
        }
      }
    }
    &__item{
      &-img{
        transition: 1s;
      }
    }
  }

  .brand__item{
    >*{
      position: relative;
      width: 50%;
      display: inline-block;
      vertical-align: middle;
    }
    &:nth-of-type(2n){
      .brand__item-img{
        right: -50%;
      }
      .brand__item-desc{
        left: -50%;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    &-btnList{
      margin: -5px -10px;
      &-section{
        padding: 5px 10px;
      }
    }
  }


  .lk {
    &__rigth {
      .cart-itogPrice{
        font-size: 16px;
        white-space: nowrap;
        &__textBig{
          font-size: 27px;
        }
      }
    }
  }
  .h1_small{
    font-size: 50px;
  }
  .h1_magrinTop{
    &-big{
      margin-top: 80px;
    }
  }


}

@include my-media-query(min, map_get($grid-breakpoints, xl)) {
  .footer__content-cell_copyright{
    width: 360px;
  }
  .clothing {
    &__section {
      width: 25%;
      &:nth-last-of-type(1), &:nth-last-of-type(2), &:nth-last-of-type(3), &:nth-last-of-type(4){
        .clothing__item {
          border-bottom: none;
        }
      }
    }
  }
}


@include my-media-query(max, map_get($grid-breakpoints, md) - 1) {
  .tabs {
    &__nav {
      &_two {
        li {
          &.active {
            > a {
              font-size: 40px;
            }
          }
        }
      }
    }
  }

  .contact-left{
    text-align: center;
  }
  .index__blockVideo{
    height: 500px;
    padding-top: 115px;
    &-title{
      text-align: center;
      font-size: 41px;
      line-height: 42px;
    }
  }

  .header{
    border-bottom: none;
    border-bottom: 1px solid #666666;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    &__buffer{
      height: 69px;
    }
    >.container{
      padding: 0;
      width: auto;
    }
    &__btnList{
      &-btn{
        text-align: center;
        width: 69px;
        &:not(.header__btnList-btn_label){
          border-left: 1px solid #666666;
        }
        &-icon{
          display: block;
          width: 100%;
          height: 68px;
          line-height: 68px;
        }
        &_label{
          height: 68px;
          line-height: 68px;
        }
      }
    }
    &__logo{
      line-height: normal;
      display: block;
      text-align: center;
      img{
        max-width: 75%;
      }
    }
    &__list{
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      border-top: 2px solid #e5493a;
      padding-top: 25px;
      padding-bottom: 32px;
      >ul{
        text-align: center;
        >li{
          display: block;
          font-size: 22px;
          font-weight: 400;
          line-height: 40px;
          font-family: "AA Bebas Neue", sans-serif;
          >a{
            display: block;
            color: #484848;
          }
        }
      }
    }
    &__table{
      &-cell{
        vertical-align: middle !important;
        &_btns{
          width: 138px;
        }
      }
    }
    &__subMenu{
      display: none;
    }
  }
  .stock {
    .row-2 {
      height: 435px;
    }
    .col-1,
    .grid-sizer{
      width: 100%;
    }
    .col-2{
      width: 100%;
    }
  }

  .index-brands {
    &__item {
      width: 100%;
      height: auto;
    }
    &__content{
      &-content{
        padding-left: 20px;
        padding-right: 20px;
        min-height: 400px;
      }
      &-bottom{
        z-index: 3;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    &__desc {
      padding: 20px 15px;
      position: static;
    }
  }

  .clothing {
    &__item{
      height: 400px;
      &-img{
        img{
          max-height: 250px;
        }
      }
    }
  }
  .pagination {
    &__btnBlock {
      width: auto;
    }
  }
  .catalog__filter-block-section_range{
    width: 100%;
  }
  .catalog {
    &__filter {
      display: block;
      margin: 0;
      &-section {
        display: block;
        +*{
          padding-left: 0;
          padding-top: 15px;
        }
        &_range{
          width: auto;
          text-align: left;
        }
      }
    }
  }
  .itemList{
    &__section{
      width: 50%;
    }
  }
  .order {
    &__item {
      font-size: 14px;
      &-table {
        display: block;
        margin: -2px 0;
        > * {
          display: inline-block;
          vertical-align: middle;
          padding: 2px 10px !important;
        }
      }
      &-title{
      }
      &-btn{
        width: 100%;
        //padding: 0 !important;
      }
    }
  }

  #yamap{
    height: 500px;
  }
  .contact {
    &-left {
      padding: 39px 30px;
      padding-bottom: 0;
    }
  }

  .subscription {
    &__title{
      font-size: 30px;
    }
    &__form {
      >*{
        +*{
          margin-top: 15px;
        }
      }
      &-input {
        padding: 0 20px;
      }
      &-button {
        position: relative;
        width: 100%;
        border-radius: 3px;
      }
    }
  }

  .tabs {
    &__titleBlock{
      margin: -5px -15px;
      &-section{
        margin: 5px 15px;
      }
    }
    &__nav {
      margin: -5px -15px;
      li {
        a {
          font-size: 30px;
          padding: 5px 15px;
        }
      }
    }
  }
  .object {
    &-item {
      margin-bottom: 15px;
    }
    .col-1,
    .grid-sizer,
    .col-2,
    .col-3,
    .col-4{
      width: 100%;
    }
  }
  h1, .h1{
    font-size: 40px;
  }
  .slider-inner {
    .slick-dots {
      bottom: 10px;
      left: 0;
    }
  }

  .resize-el {
    &:after {
      transform: scale(0.8);
      right: 10px;
      bottom: 10px;
    }
  }

  .footer {
    &__lenta {
      height: 10px;
      &-bant {
        &:after {
          display: none;
        }
      }
    }
    text-align: center;
    &__content {
      display: block;
      &-cell {
        display: block;
      }
    }
    .copyright{
      margin: 0 auto;
      float: none;
    }
    &__bottom {
      padding-top: 27px;
      padding-bottom: 30px;
    }
  }

}

@include my-media-query(max, map_get($grid-breakpoints, sm) - 1) {
  .index__blockVideo {
    margin-bottom: -6px;
    &-seach {
      margin: 0 20px;
    }
  }
  .clothing {
    &__item{
      height: 250px;
      font-size: 16px;
      &-img{
        img{
          max-height: 180px;
        }
      }
    }
  }
  .itemList{
    &__section{
      width: 100%;
    }
  }
  .btn-modal{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .modal__titleSection + .modal__titleSection-text {
    line-height: 16px;
    margin-top: 1px;
  }
  .cart-itogPrice {
    font-size: 16px;
    &__textBig {
      font-size: 25px;
      &_margin{
        margin: 0;
      }
    }
  }
  .cart {
    &__item {
      &-img {
        width: 35% !important;
      }
      &-title{
        width: 63% !important;
      }
    }
  }
  .page__wrapper {
    padding-bottom: 40px;
  }
  .blockFooterMarginBottom{
    margin-bottom: -40px;
  }
  .brend{
    &__section{
      width: 50%;
    }
  }

  h1, .h1{
    font-size: 35px;
    margin-bottom: 10px;
  }
  .footer {
    .copyright{
      margin-top: 8px;
      text-align: center;
      >*{
        display: block;
        +*{
          margin-top: 5px;
        }
      }
      &-logo{
        margin-top: 0;
      }
    }
  }
  .header{
    &__table{
      &-cell{
        &_btns{
          width: 69px;
        }
      }
    }
  }

}
